<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Jobseeker's Allowance (JSA) Universal Credit (UC)</a>
      <!--<ul id="proposition-links">
        <li><a href="" class="active">Home</a></li>
        <li><a href="https://digitalacademy.hackpad.com/">Forum</a></li>
        <li><a href="url-to-page-2">Blog</a></li>
        <li><a href="https://www.gov.uk/service-manual">Toolkit</a></li>
      </ul> -->
    </nav>
  </div>
</div>
