{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<div>

  <p>Your complaint has been submitted.</p>

  <p>We will phone you within the next 2 working days.</p>

</div>

</main>

{{/content}}

{{/layout}}
