{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{>includes/alpha-banner}}
  
<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<div>        
        <h2 class="heading-medium">Want to make a complaint?</h2>
</div>

<div class="form-group">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="ni-number">National Insurance Number</label>
    <input class="form-control" id="ni-number" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="postcode">Postcode</label>
    <input class="form-control" id="postcode" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-number">Phone number</label>
    <input class="form-control" id="phone-number" type="text">
  </div>

  <!--***DROP DOWN***-->

  <div class="example">
    <form>
      <fieldset>
        <div class="form-group form-group-compound">

          <legend>
            <span class="form-label">
              What is your complaint about?
            </span>
          </legend>
          
          <label class="block-label" data-target="example-ni-number" for="radio-indent-2">
            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
              Contacting Jobcentre Plus
          </label>

          <label class="block-label" data-target="example-ni-number1" for="radio-indent-3">
            <input id="radio-indent-3" type="radio" name="radio-indent-group" value="No">
              Waiting times or delays
          </label>
          
          <label class="block-label" data-target="example-ni-number2" for="radio-indent-4">
            <input id="radio-indent-4" type="radio" name="radio-indent-group" value="No">
              Confusing or incorrect information
          </label>

          <label class="block-label" data-target="example-ni-number3" for="radio-indent-5">
            <input id="radio-indent-5" type="radio" name="radio-indent-group" value="No">
              DWP staff
          </label>   

          <label class="block-label" data-target="example-ni-number4" for="radio-indent-6">
            <input id="radio-indent-6" type="radio" name="radio-indent-group" value="No">
              Payments
          </label>   

          <label class="block-label" data-target="example-ni-number5" for="radio-indent-7">
            <input id="radio-indent-7" type="radio" name="radio-indent-group" value="No">
              Other
          </label>      

        </fieldset>
        </div>

    <!--****FIRST DROP****-->

    <div class="panel js-hidden" id="example-ni-number">
      <div class="form-group">

       <br> 

      <legend>
        <span class="form-label">
          Complaint details (contacting)
        </span>
      </legend>

      <label class="block-label" for="test-a">
        <input id="test-a" type="radio" name="radio-test" value="Yes">
        I can't get through on the phone
      </label>

      <label class="block-label" for="test-b">
        <input id="test-b" type="radio" name="radio-test" value="No">
        Interpreters not available
      </label>

      <label class="block-label" for="test-c">
        <input id="test-c" type="radio" name="radio-test" value="No">
        Office closures
      </label>

      <label class="block-label" for="test-d">
        <input id="test-d" type="radio" name="radio-test" value="No">
        I've been passed from one member of staff to another
      </label>

      <label class="block-label" for="test-e">
        <input id="test-e" type="radio" name="radio-test" value="No">
        I have to keep contacting you
      </label>

      <label class="block-label" for="test-f">
        <input id="test-f" type="radio" name="radio-test" value="No">
        Other
      </label>
      </div>

      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           
      
      </div>

      </form>

      </div>
      </div>

        </fieldset>
      </form>
    </div>

    <!--****SECOND DROP****-->

    <div class="panel js-hidden" id="example-ni-number1">
      <div class="form-group">

       <br> 

      <legend>
        <span class="form-label">
          Complaint details (waiting)
        </span>
      </legend>
      
      <label class="block-label" for="drop-a">
        <input id="drop-a" type="radio" name="radio-test" value="Yes">
        You lost my forms, document, or certificates
      </label>

      <label class="block-label" for="drop-b">
        <input id="drop-b" type="radio" name="radio-test" value="No">
        Benefit payment delays or missing payments
      </label>

      <label class="block-label" for="drop-c">
        <input id="drop-c" type="radio" name="radio-test" value="No">
        You haven't returned phone calls or replied to correspondence
      </label>

      <label class="block-label" for="drop-d">
        <input id="drop-d" type="radio" name="radio-test" value="No">
        You haven't kept promises
      </label>

      <label class="block-label" for="drop-e">
        <input id="drop-e" type="radio" name="radio-test" value="No">
        Other
      </label>
      </div>

      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           

      
      </fieldset>
      </form>

      </div>
      </div>

    <!--****THIRD DROP****-->

    <div class="panel js-hidden" id="example-ni-number2">
      <div class="form-group">

        <br>

      <legend>
        <span class="form-label">
          Complaint details (information)
        </span>
      </legend>
      
      <label class="block-label" for="info-a">
        <input id="info-a" type="radio" name="radio-test" value="Yes">
        I don't understand the information you've sent me
      </label>

      <label class="block-label" for="info-b">
        <input id="info-b" type="radio" name="radio-test" value="No">
        You haven't given me the information in the format I asked for
      </label>

      <label class="block-label" for="info-c">
        <input id="info-c" type="radio" name="radio-test" value="No">
        You sent too much or confusing information
      </label>

      <label class="block-label" for="info-d">
        <input id="info-d" type="radio" name="radio-test" value="No">
        My personal details are wrong
      </label>

      <label class="block-label" for="info-e">
        <input id="info-e" type="radio" name="radio-test" value="No">
        You asked for the same information more than once
      </label>

      <label class="block-label" for="info-f">
        <input id="info-f" type="radio" name="radio-test" value="No">
        Other
      </label>
      </div>

      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           
      
      </fieldset>
      </form>

      </div>
      </div>

    <!--****FORTH DROP****-->

    <div class="panel js-hidden" id="example-ni-number3">
      <div class="form-group">

        <br>

      <legend>
        <span class="form-label">
          Complaint details (staff)
        </span>
      </legend>

      <label class="block-label" for="staff-a">
        <input id="staff-a" type="radio" name="radio-test" value="Yes">
        Staff didn't help me
      </label>

      <label class="block-label" for="staff-b">
        <input id="staff-b" type="radio" name="radio-test" value="No">
        Staff were rude or abusive
      </label>

      <label class="block-label" for="staff-c">
        <input id="staff-c" type="radio" name="radio-test" value="No">
        Staff discriminated against me
      </label>

      <label class="block-label" for="staff-d">
        <input id="staff-d" type="radio" name="radio-test" value="No">
        Staff were unprofessional
      </label>

      <label class="block-label" for="staff-e">
        <input id="staff-e" type="radio" name="radio-test" value="No">
        Other
      </label>
      </div>

      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           
      
      </fieldset>
      </form>

      </div>
      </div>

    <!--****FIFTH DROP****-->

    <div class="panel js-hidden" id="example-ni-number4">
      <div class="form-group">

        <br>

      <legend>
        <span class="form-label">
          Complaint details (payments)
        </span>
      </legend>

      <label class="block-label" for="pay-a">
        <input id="pay-a" type="radio" name="radio" value="Yes">
        You paid me the wrong amount
      </label>

      <label class="block-label" for="pay-b">
        <input id="pay-b" type="radio" name="radio" value="No">
        You stopped my money for the wrong reason
      </label>

      <label class="block-label" for="pay-c">
        <input id="pay-c" type="radio" name="radio" value="No">
        Other
      </label>
      </div>

      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           

      </fieldset>
      </form>

      </div>
      </div>
   
    <!--****SIXTH DROP****-->

    <div class="panel js-hidden" id="example-ni-number5">
      <div class="form-group">

        <br>
      <div>

      <p class="form-label" for="">What happened and when?</p>
      <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>
      
      </div>           

      </fieldset>
      </form>

      </div>
      </div>

      <!-- Primary buttons, secondary links -->
    
    <br>

    <div>
      <a href="/sprint1/finish" class="button" role="button">Send complaint</a>
    </div>
    
</main>

{{/content}}

{{/layout}}
