{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha-banner}}

<br>

<span class="section-progress">Section 2 of 3</span>

<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<fieldset>

    <p class="form-label-bold" for="">What happened and when?</p>
    <textarea style="height: 200px;" type="text" class="form-control-3-4"></textarea>

  </div>        

</fieldset>

<br>

  <div class="form-group">
    <label class="form-label-bold" for="postcode">What is your postcode?</label>
      <span class="form-hint">We are only capturing this information to idetify regions we need to improve.</span>
      <input class="form-control" id="postcode" type="text">
  </div> 

  <div>
      <a href="/sprint2/name" class="button" role="button">Next</a>
  </div>



</main>

{{/content}}

{{/layout}}
