{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha-banner}}

<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<div>


<br>

<p style=" background-color:#; width: 50%;font-weight: bold; padding: 10px;margin-top: -1em;border: solid;border-color: #28A197;"> Your complaint has been submitted. <br> We will phone you within the next 2 working days.</p>
</div>

</main>

{{/content}}

{{/layout}}
