{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha-banner}}

<br>

<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<div>        
        <h2 class="heading-medium">Want to make a complaint?</h2>
</div>

<p>
    If you are a Jobseeker's Allowance (JSA) customer you can complain online. If you are not a JSA customer, please contact your local job centre
</p>

<p>
    By completing your complaint online, you agree to the following:
</p>

<ul class="list-bullet">
    <li>
      You can change your mind at any time and withdraw your complaint by calling us.
    </li>

    <li>
      I understand the information on this online form will be used for the purposes of my complaint.
    </li>

    <li>
      In completing this online form I understand that I am agreeing for my information being used for the purposes of my complaint. 
    </li>
</ul>

  <a href="/sprint3/form" class="button" role="button">Start now</a>

<br>
<br>

<!-- Other ways to complain -->

<label class="form-label-bold" for="full-name">Other ways to complain:</label>

<div class="contact">

<p>You do not have to take part in this online trial to make a complaint, the other ways you can make a complaint are by phone, in person or in writing.</p>

<p>Telephone: 0345 604 3719 <br>
Textphone: 0345 608 8551 <br>
Welsh language: 0345 604 4248 <br>
Monday to Friday, 8am to 6pm <br><a href="/call-charges">Find out about call charges</a></p>

</div>


</div>

</main>

{{/content}}

{{/layout}}
