{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="logged_in">Home</a></li>
                <li id="nav-demand"><a href="demand">Demand log</a></li>
                <li id="nav-unassigned" class="selected"><a href="assigned">Assigned</a></li>
                <li id="nav-assigned"><a href="#">Unassigned</a></li>
                <li id="nav-projects"><a href="#">Current projects</a></li>
                <li id="nav-reports"><a href="#">Reports</a></li>
              </ul>
          </div>


  <!-- Start three quarters container for main content columns -->
  <div class="column">


        <p class="font-xsmall bread"><a href="logged_in">Home</a>&nbsp;>&nbsp;Assigned resource</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Assigned resource - Abby Carr</h1>

      <ul class="tabs">
            <li><a href="assigned">Basic search</a></li>
            <li class="selected"><a href="assigned_edit">Edit record</a></li>
         </ul>  

     <div class="column-half">    

         <br>

            <div class="form-group">
                  <label class="form-hint" for="idoc">Name (read-only)</label>
                  <input class="form-control" id="idoc" type="text" value="Abby Carr" readonly>
             </div>    

            <div class="form-group">
              <label class="form-label" for="inital">Email</label>
              <input class="form-control" id="inital" type="text">
            </div> 

           <div class="form-group">
              <label class="form-label" for="inital">Phone number</label>
              <input class="form-control" id="inital" type="text">
            </div>

            <div class="form-group">
                <label class="form-label" for="Location">Location</label>
                    <select class="select form-control">
                      <option>-- Please make a selection --</option>
                      <option value="Burnley">Burnley</option>
                      <option value="Leeds">Leeds</option>
                      <option value="London">London</option>
                      <option value="Manchester">Manchester</option>
                      <option value="Newcastle">Newcastle</option>

                    </select> 
            </div> 

                      <br>
        <div>
        <a href="assigned" class="button button" value="Submit">Submit</a>
      </div>
        <a href="assigned">Back</a>

      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    
          
          <br>
            <div class="form-group">
                <label class="form-label" for="Project">Project</label>
                    <select class="select form-control">
                      <option>-- Please make a selection --</option>
                      <option value="ATW">Access to Work</option>
                      <option value="DSC">Digital Service centre</option>
                      <option value="EJS">Enhancing Job Seekers Services</option>
                      <option value="e-Payments">e-Payments</option>
                      <option value="PIP">PIP Digital</option>

                    </select> 
            </div>


              <div class="form-group">
                <label class="form-label" for="job_role">Job Role</label>
                    <select class="select form-control">
                      <option>-- Please make a selection --</option>
                      <option value="service_manager">Service Manager</option>
                      <option value="product_owner">Product Owner</option>
                      <option value="delivery_manager">Delivery Manager</option>
                      <option value="business_analyst">Business Analyst</option>
                      <option value="user_research">User Research</option>
                      <option value="content_designer">Content Designer</option>
                      <option value="software_developer">Software Developer</option>
                      <option value="technical_architect">Technical Architect</option>
                    </select> 
            </div> 

              <div class="form-group">
                <label class="form-label" for="job_role">Skill Level</label>
                    <select class="select form-control">
                      <option>-- Please make a selection --</option>
                      <option value="awareness">Awareness</option>
                      <option value="working">Working</option>
                      <option value="practitioner">Practitioner</option>
                      <option value="expert">Expert</option>
                    </select> 
            </div>  

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label">Assignment end date</legend>


          <div class="form-date">
            <div class="form-group form-group-day">
                    <select class="select form-control">
                                <option selected disabled>Day</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                    </select>
            </div>


            <div class="form-group form-group-month">
                    <select class="select form-control">
                                <option selected disabled>Month</option>
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>                            
                    </select>
            </div>

            <div class="form-group form-group-month">
                                <select class="select form-control">
                                <option selected disabled>Year</option>
                                <option value="15">2015</option>
                                <option value="16">2016</option>                           
                    </select>
            </div>
          </div>
        </fieldset>


      </div>
         
      </div>
      <!-- End col -->




    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

