{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="logged_in">Home</a></li>
                <li id="nav-demand"><a href="demand">Demand log</a></li>
                <li id="nav-unassigned" class="selected"><a href="assigned">Assigned</a></li>
                <li id="nav-assigned"><a href="#">Unassigned</a></li>
                <li id="nav-projects"><a href="#">Current projects</a></li>
                <li id="nav-reports"><a href="#">Reports</a></li>
              </ul>
          </div>


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="logged_in">Home</a>&nbsp;>&nbsp;Assigned resource</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Assigned resource - review record</h1>

      <ul class="tabs">
            <li class="selected"><a href="assigned">Basic search</a></li>
            <li><a href="assigned_edit">Edit record</a></li>
         </ul>  

      <div class="column-half">   

        <br>
<h3 class="heading-small">Personal details:</h3>
           <div>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>Abby Carr</td>
                    </tr>
                   <tr>
                    <tr>
                        <td>Staff ID:</td>
                        <td>10078765</td>
                    </tr>
                    <tr>
                        <td>Grade:</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                    <tr>
                        <td>FTE:</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Working pattern</td>
                        <td>Mon - Fri</td>
                    </tr> 
                  </table>

            </div>

<br>

<h3 class="heading-small">Contact details:</h3>

            <div>
                  <table>
                    <tr>
                        <td>Email:</td>
                        <td>abby.carr@DWP.GSI.GOV.UK</td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>07949414097</td>
                    </tr>
                    <tr>
                        <td>Line manager email:</td>
                        <td>toby.denton@DWP.GSI.GOV.UK</td>
                    </tr>
                  </table>
            </div>

          <br>
        <div>
        <a href="assigned_edit" class="button button" value="Edit">Edit</a>
      </div>
        <a href="assigned">Back</a>

         
      </div>
      <!-- End col -->

<!--TESTTESTTESTTESTTEST-->

      <div class="column-half">   

<br>

<h3 class="heading-small">Role:</h3>

            <div>
                  <table>
                    <tr>
                        <td>Job role:</td>
                        <td>Delivery Manager</td>
                    </tr>
                    <tr>
                        <td>Skill level:</td>
                        <td>Working</td>
                    </tr>
                    <tr>
                        <td>Sector knowledge:</td>
                        <td>Disability</td>
                    </tr>
                  </table>
            </div>
 <br>

<h3 class="heading-small">Assignment:</h3>

            <div>
                  <table>
                    <tr>
                        <td>Project:</td>
                        <td>Access to Work</td>
                    </tr>
                    <tr>
                        <td>Assignment start date:</td>
                        <td>01/07/2015</td>
                    </tr>
                    <tr>
                        <td>Assignment end date:</td>
                        <td>01/07/2016</td>
                    </tr>
                    <tr>
                        <td>Cost centre:</td>
                        <td>109875</td>
                    </tr>
                    <tr>
                        <td>Utilisation:</td>
                        <td>5 days</td>
                    </tr> 
                </table>
           </div> 

          <br>

         
      </div>


    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

