{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{>includes/alpha-banner}}
  
<div>
        <h2 class="heading-large">Digital Resource Request</h2>
</div>

<div>        
        <h2 class="heading-medium">Your information</h2>
</div>

<div class="form-group">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="ni-number">Email</label>
    <input class="form-control" id="ni-number" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-number">Phone number</label>
    <input class="form-control" id="phone-number" type="text">
  </div>

<div>
        <h2 class="heading-medium">Assemble your digital team</h2>
</div>

  <div class="form-group">
                <label class="form-label" for="Location">Where will your team be based?</label>
                    <select class="select form-control">
                      <option>-- Please make a selection --</option>
                      <option value="Burnley">Burnley</option>
                      <option value="Leeds">Leeds</option>
                      <option value="London">London</option>
                      <option value="Manchester">Manchester</option>
                      <option value="Newcastle">Newcastle</option>
                    </select> 
  </div>

  <fieldset>

<label class="form-label" for="Location">What phase(s) are you wanting resource for?</label>

      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" value="discovery">
        Discovery
      </label>

      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" value="alpha">
        Alpha
      </label>

      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="beta">
        Beta
      </label>

      <label class="block-label" for="checkbox-4">
        <input id="checkbox-4" type="checkbox" value="live">
        Live
      </label>

<div>

  </fieldset>

<div>

<br>

  <fieldset>

    <label class="form-label" for="Location">What is the size of your team?</label>

      <label class="block-label" for="size-1">
        <input id="size-1" type="checkbox" value="small">
        Small
      </label>

      <label class="block-label" for="size-2">
        <input id="size-2" type="checkbox" value="medium">
        Medium
      </label>

      <label class="block-label" for="size-3">
        <input id="size-3" type="checkbox" value="large">
        Large
      </label>

  </fieldset>

</div>

</div>

      </form>

      </div>
      </div>

      <!-- Primary buttons, secondary links -->
    
    <br>

    <div>
      <a href="/sprint1/finish" class="button" role="button">Submit</a>
    </div>
    
</main>

{{/content}}

{{/layout}}
