{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha-banner}}

<div class="grid-row">

  <div class="column-two-thirds">


      <form class="form" method="post" action="#">      
        
        
        <h1 class="form-title heading-large">Sign in</h1>
        
        
        <p>Sign in or <a href="#">create an account </a> to get started.</p>
        
    
        <div class="form-group">
          <label class="form-label-bold" for="email">Email address</label>
          <input class="form-control-login" id="email" type="email">
        </div>
        
    
        <div class="form-group">
          <label class="form-label-bold" for="password">Password</label>
          <input class="form-control-login" id="password" type="password">
        </div>
    
    
        <div class="form-group">
          
      <a href="/operations/managing_information" class="button" role="button">Sign in</a>          
        </div>
        
        
        <p><a href="#">Forgotten your password?</a></p>
        
    
      </form>

  
  
    </div>

</main>

{{/content}}

{{/layout}}
