{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">Digital Service Centre</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
The Digital Service Centre will support customers interacting with digital services or support them to move to digital interactions via omni-channel capability, enabling self-serve where possible. It will be accessible from service centres, jobcentres and partner premises.
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Jocelyn Henderson</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>Top</td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Alpha</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td>7th September 2015</td>
                    </tr>
                    <tr>
                        <td>Estimated phase end date:</td>
                        <td>28th December 2015</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td>May 2016</td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>

      <ul class="list-bullet">
        <li>Customer support service that could be re-used across the department.</li>
        <li>Instills a self-service/self-help approach in customers.</li>
      </ul>

      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>

      N/A

      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      N/A
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      Show & Tells: Fortnightly from 28th September
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
