{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">e-Payments</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
A transformed card payment service for repayment of benefit debt. The service will begin to shift transactions out of the telephony channel, extend use of Behavioural Insight and build an early stage component of a future debt model service. 
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Bryan Sharp</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Beta</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td>late May 2015</td>
                    </tr>
                    <tr>
                        <td>Private Beta start date:</td>
                        <td>October 2015</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td>January 2016</td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>
      <ul class="list-bullet">
        <li>Two million customers have benefit debt.</li>
        <li>24 hour access for customers to self-serve and business efficiencies and savings due to reduced telephone  traffic.</li>
        <li>Initial service only available for those able and willing to make a full repayment, which accounts for approximately one-third of customers.</li>
      </ul>
      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>
      N/A
      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      <ul class="list-bullet">
        <li>GDS assessment requires programme to demonstrate a coherent plan for transforming and improving debt collection letters.</li>
        <li>Reconsideration of current WorldPay contract in October 2015.</li>
        <li>Secure communications. IL3 Bridge repeatedly delayed and Verify required in order to ensure secure identity verification.</li>
      </ul>
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      Show & Tell: Monthly from 1st October
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
