{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">PIP Digital Claim</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
The Personal Independence Payment (PIP) digital service will allow claimants to apply for PIP online. 
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Steve Bruce</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Beta</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td>May 2015</td>
                    </tr>
                    <tr>
                        <td>Private Beta start date:</td>
                        <td>21st September 2015</td>
                    </tr>
                    <tr>
                        <td>Public Beta start date</td>
                        <td>April 2016</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td>Summer 2016</td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>
      <ul class="list-bullet">
        <li>Will lead to business efficiencies and substantial savings by reducing  the number of paper forms sent out.</li>
        <li>It is estimated that 291,000 customers will use the digital claim between  June 2016 and June 2017. </li>
        <li>Reduced numbers of invalid  claims by helping users decide if PIP is the right benefit for them.</li>
      </ul>
      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>
      N/A
      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      <ul class="list-bullet">
        <li>Difficulty in building secure communication and identity gateways that are suitable for PIP users needs.</li>
        <li>Alignment of telephony and online ‘Date of Claim’.</li>
      </ul>
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      <ul class="list-bullet">
        <li>Major Product Review: October/November 2015.</li>
      </ul>
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
