{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">Wider Use of RTI</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
The project will optimise the use of HMRC’s earnings, employment and pensions data collected from employers on a ‘real time’ basis. The service will provide a User Interface, made available on internal staff desktops, and an alert service to notify benefit processing staff when a claimant’s employment and/or pension status has changed. Will subsequently improve the accuracy of benefit payments and reduce losses from fraud and error. 
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Carl Davies</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>Top</td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Beta</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td>January 2015</td>
                    </tr>
                    <tr>
                        <td>Private Beta start date:</td>
                        <td>end of November 2015</td>
                    </tr>
                    <tr>
                        <td>Public Beta start date</td>
                        <td>January 2016</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td>January 2016</td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>
      <ul class="list-bullet">
        <li>Initial application to Pension Credit. Plans to extend to other benefit services, starting with Housing Benefit in spring 2016.</li>
        <li>New claims will be automatically subject to RTI data, enabling Benefit Agent to immediately assess the validity and accuracy of claim.</li>
        <li>An Alert System will be applied to those already receiving benefits, enabling Benefit Agent to adjust benefit payments dependent on real-time earnings.</li>
      </ul>
      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>
      N/A
      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      <ul class="list-bullet">
        <li>Currently, a 24 hour delay in sharing information undermined the real time ambition of the service.</li>
        <li>For the future expansion of the use of RTI in processing benefit claims, integration with other services, programmes and IT systems poses the greatest challenge. </li>
      </ul>
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      N/A
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
