{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">Secure Comms</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
The Secure Communications project is an enabling service that will allow third parties to be authenticated and then securely submit web based products digitally. The solution will allow us to deliver the ability to authenticate across a range of third parties and transactions in DWP and across government. The proof of concept for Alpha is focussing on authenticating GPs through their NHS smartcard system.
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Liz Whitefield</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Beta</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td>early August</td>
                    </tr>
                    <tr>
                        <td>Private Beta start date:</td>
                        <td>end of October 2015 2015</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td>January 2016</td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>
      <ul class="list-bullet">
        <li>Potential business efficiencies from reduced processing times and no postage delays or costs. More secure than postal method.</li>
        <li>Reduce time taken to process benefit claims and will act as a time saver for third party uses such as GPs.</li>
        <li>Initial application to GP authentication in sending DS1500 form, which is used by approximately 20,000 people. Potential for much wider application, including on ESA, MAT B1, E prescriptions etc.</li>
      </ul>
      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>
      N/A
      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      <ul class="list-bullet">
        <li>Secure communications dependent on building a secure integration gateway between the DWP and NHS systems, which both contain stringent security procedures.</li>
      </ul>
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      <ul class="list-bullet">
        <li>Show & Tell: Fortnightly from 22nd September</li>
      </ul>
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
