{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

<div>

 <h2 class="heading-large">Small Services Digital Transformation</h2>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#project-details">Project details</a></li>
        <li><a href="#customer-impact">Customer impact</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#risks">Risks & dependecies</a></li>
        <li><a href="#milestones">Milestones & assessments</a></li>
        <li><a href="#more-information">More information</a></li>
      </ul>
    </div>
  </div>

 <div class="column">

<h3 class="heading-small" id="overview">Overview</h3> 

<p>
This is developing a ‘small services’ capability to consider whether existing paper forms can be developed into online services. Initially looking at the Social Fund Budgeting Loan and JSA Hardship as the first online services to replace paper form and processes.
</p>

</div>

</div>

<div class="column-half">   

<h3 class="heading-small" id="project-details">Project details</h3> 

           <div>
                <table>
                    <tr>
                        <td>Location:</td>
                        <td>Leeds</td>
                    </tr>
                   <tr>
                    <td>Contact:</td>
                        <td>Zöe Gould</td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>Low</td>
                    </tr>
                    <tr>
                        <td>Phase:</td>
                        <td>Alpha</td>
                    </tr>
                    <tr>
                        <td>Phase start date:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Estimated phase end date:</td>
                        <td>End of October 2015</td>
                    </tr>
                    <tr>
                        <td>Estimated 'go live' date:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>RPA rating:</td>
                        <td></td>
                    </tr>                    
                </table>
           </div> 

  <h3 class="heading-small" id="customer-impact">Customer impact</h3> 

      <p>
      Initial focus on Budget Loans in order to support Social Justice aim to reduce the number of people resorting to ‘payday loans’ by providing payments more quickly. Generation of tactical efficiencies in operations and a potential 70% reduction in the end to end process where there is the handling of 1 million Budget Loans per year. Potential to transform other forms into online services.
      </p>

  <h3 class="heading-small" id="resources">Resources</h3> 

      <p>

      <ul class="list-bullet">
        <li>Tech Architect required.</li>
      </ul>

      </p>

  <h3 class="heading-small" id="risks">Risks & dependencies</h3> 

      <p>

      <ul class="list-bullet">
        
        <li>Dependent on resource capability to build secure communications within the online form.</li>
      </ul>
      
      </p>

  <h3 class="heading-small" id="milestones">Milestones & assessments</h3> 

      <p>
      GDS assessment: end of October 2015
      </p>

  <h3 class="heading-small" id="more-information">More information</h3> 

      <p>
      N/A
      </p>

</div>

</main>

{{/content}}

{{/layout}}
