{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{>includes/alpha-banner}}
  
<div>
        <h2 class="heading-large">Jobseeker's Allowance complaints</h2>
</div>

<div>        
        <h2 class="heading-medium">Want to make a complaint?</h2>
</div>

<div class="form-group">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="ni-number">National Insurance Number</label>
    <input class="form-control" id="ni-number" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="postcode">Postcode</label>
    <input class="form-control" id="postcode" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-number">Phone number</label>
    <input class="form-control" id="phone-number" type="text">
  </div>

  <!--***DROP DOWN***-->

<fieldset>
    <legend class="form-label-bold">What do you want to complain about?</legend>
      
      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" value="paid-time">
        You haven't been paid on time
      </label>

      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" value="payment-stopped">
        Your payment's been stopped
      </label>

      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="paid-wrong">
        You've been paid the wrong amount
      </label>

      <label class="block-label" for="checkbox-4">
        <input id="checkbox-4" type="checkbox" value="treated-badly">
        You've been treated badly by staff
      </label>

      <label class="block-label" for="checkbox-5">
        <input id="checkbox-5" type="checkbox" value="wrong-info">
        You were given wrong or confusing information
      </label>

      <label class="block-label" for="checkbox-6">
        <input id="checkbox-6" type="checkbox" value="contact">
        You couldn't contact Jobcentre Plus
      </label>

      <label class="block-label" for="checkbox-7">
        <input id="checkbox-7" type="checkbox" value="awkward">
        You've been given awkward times or locations for meetings
      </label>

      <label class="block-label" for="checkbox-8">
        <input id="checkbox-8" type="checkbox" value="something-else">
        Something else
      </label>

  </fieldset>

  <!-- Primary buttons, secondary links -->
    
    <br>

    <div>
      <a href="/sprint4/finish" class="button" role="button">Send complaint</a>
    </div>
    
</main>

{{/content}}

{{/layout}}
