{{<layout}}

{{$pageTitle}}
	JSA Complaints
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">JSA Complaints</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Prototypes</h2>

	<div class="grid-row">

    	<div class="column-third">
      		<h2 class="heading-large">Sprint 1</h2>
	            <ul class="list-bullet">
	                <li><a href="/sprint1/start">Home page</a></li>
	                <li><a href="/sprint1/form">Form page</a></li>
	                <li><a href="/sprint1/finish">Completion screen</a></li>
	            </ul>
    	</div>

    	<div class="column-third">
      		<h2 class="heading-large">Sprint 2</h2>
	            <ul class="list-bullet">
	                <li><a href="/sprint2/start">Home page</a></li>
	                <li><a href="/sprint2/checkbox">What is your complaint about?</a></li>
	                <li><a href="/sprint2/free">What happened and when?</a></li>
	                <li><a href="/sprint2/name">Do you want a response?</a></li>
	                <li><a href="/sprint2/sent">Completion screen</a></li>
	            </ul>
    	</div>

    	<div class="column-third">
      		<h2 class="heading-large">Sprint 3</h2>
	            <ul class="list-bullet">
	                <li><a href="/sprint3/start">Home page</a></li>
	                <li><a href="/sprint3/form">Form page</a></li>
	                <li><a href="/sprint3/finish">Completion screen</a></li>
	            </ul>
    	</div>

    </div>

	<div class="grid-row">

    	<div class="column-third">
      		<h2 class="heading-large">Sprint 4</h2>
	            <ul class="list-bullet">
	                <li><a href="/sprint4/start">Home page</a></li>
	                <li><a href="/sprint4/form">Form page</a></li>
	                <li><a href="/sprint4/finish">Completion screen</a></li>
	            </ul>
    	</div>

    	<div class="column-third">
      		<h2 class="heading-large">Portfolio</h2>
				<span class="form-hint">Ali please ignore this I just need to push this up somewhere really quickly.</span>
	            <ul class="list-bullet">
	                <li><a href="/portfolio/portfolio">Portfolio home</a></li>
	            </ul>
    	</div>

    </div>



	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="/simple-form/simple-form">Simple form version</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
