{{<layout}}

{{$pageTitle}}
Jobseeker's Allowance (JSA)
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{>includes/alpha-banner}}

  <!--***** NAVIGATION BAR -->

  <!--

  <div class="appstatus" role="alert">
    
    <h1 class="appstatus-title">Digital Skills Self Assessment</h1>
    
    <ol class="appstatus-steps">
      <li><span class="appstatus-steps appstatus-processing">Managing information</span></li>
      <li><span>Communicating</span></li>
      <li><span>Transacting</span></li>
      <li><span-problem-solving>Problem-solving</span-problem-solving></li>
      <li><span>Creating</span></li>
    </ol>
    
  </div>

-->

<div>        
        <h2 class="heading-medium">Managing information</h2>
</div> 

    <div class="form-group">
      <label class="form-label" for="select-box">1. How comfotable are you able to identify and assess accurate sources of informtion?</label>
      <select class="form-control" id="select-box">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" for="select-box-1">2. How comfoartable are you at using </label>
      <select class="form-control" id="select-box-1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" for="select-box-2">3. How comfoartable are you at using </label>
      <select class="form-control" id="select-box-2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

        <div class="form-group">
          
      <a href="/operations/communicating" class="button" role="button">Next</a>          
        </div>

</main>

{{/content}}

{{/layout}}
